.donut-chart-container {
  display: flex; /* Use Flexbox for layout */
  justify-content: space-between; /* Space between the chart and legend */
  align-items: center;
  width: 100%; /* Ensure the container stretches to fill the available space */
  height: 100%; /* Prevent height collapse */
}

.legend-container {
  max-height: 200px; /* Set a max height for scrolling */
  overflow-y: auto; /* Enable vertical scrolling */
  overflow-x: hidden; /* Prevent horizontal overflow */
  margin-left: 20px; /* Space between the chart and legends */
  width: 200px; /* Set a fixed width for the legend area */
  font-family: "Cairo", sans-serif;
  font-size: 14px;
}

.legend-container .nivo-legend-item {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; /* Truncate text */
}
